In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import json
import datetime

def load_file(fname, mapfile):
    m = pd.read_csv(mapfile)
    relevent = set(m.idx)
    data = []
    with open(fname) as fp:
        for i, line in enumerate(fp):
            if i not in relevent:
                continue
            data.append(json.loads(line))
    return pd.DataFrame(data)

def parse_tw_url(a):
    page_url = a.get('url', None)
    urls = []
    if page_url:
        urls.append(urlex(page_url['urls'][0]))
    desc_urls = a['description']['urls']
    if desc_urls:
        for u in desc_urls:
            urls.append(urlex(u))
    return set(urls)

def urlex(u):
    url = u.get("expanded_url", None)
    if url is None or url == 'null':
        url = u.get('url', None)
    return url.lower()

tw_metoo  = load_file('../data/twitter/metoo/metoo.ndjson',  '../data/twitter/metoo/metoo.map.csv')
tw_blm    = load_file('../data/twitter/blm/blm.ndjson',      '../data/twitter/blm/blm.map.csv')
tw_occupy = load_file('../data/twitter/occupy/occupy.ndjson', '../data/twitter/occupy/occupy.map.csv')

tw_metoo.created_at  = pd.to_datetime(tw_metoo.created_at, format='%a %b %d %H:%M:%S +0000 %Y')
tw_blm.created_at    = pd.to_datetime(tw_blm.created_at, format='%a %b %d %H:%M:%S +0000 %Y')
tw_occupy.created_at = pd.to_datetime(tw_occupy.created_at, format='%a %b %d %H:%M:%S +0000 %Y')

tw_metoo.urls  = tw_metoo.entities.apply(parse_tw_url)
tw_blm.urls    = tw_blm.entities.apply(parse_tw_url)
tw_occupy.urls = tw_occupy.entities.apply(parse_tw_url)

In [4]:
now = datetime.datetime.now()
tw_metoo.days  = (now - tw_metoo.created_at).dt.days
tw_blm.days    = (now - tw_blm.created_at).dt.days
tw_occupy.days = (now - tw_occupy.created_at).dt.days

In [119]:
tw_metoo.describe(include)

,favourites_count,followers_count,friends_count,id,listed_count,statuses_count
count,12.000000,12.000000,12.000000,1.200000e+01,12.000000,12.000000
mean,13562.500000,9026.583333,319.250000,4.668147e+17,24.333333,8391.583333
std,31148.127116,11650.229896,338.818301,4.876972e+17,23.887362,18052.792055
min,0.000000,65.000000,0.000000,1.801678e+08,0.000000,20.000000
25%,13.250000,507.000000,51.000000,3.727358e+08,3.000000,65.250000
50%,32.500000,2430.000000,160.500000,4.604530e+17,19.000000,340.000000
75%,574.250000,22405.000000,476.250000,9.294901e+17,38.000000,1640.750000
max,80237.000000,26882.000000,924.000000,9.649054e+17,65.000000,46939.000000

In [116]:
tw_blm.describe()

,favourites_count,followers_count,friends_count,id,listed_count,statuses_count
count,55.000000,55.000000,55.000000,5.500000e+01,55.000000,55.000000
mean,1351.436364,16320.909091,767.945455,2.262560e+17,149.090909,4003.872727
std,2739.331797,55155.239644,1203.045848,3.756695e+17,426.450999,5819.263203
min,2.000000,46.000000,11.000000,1.079000e+04,0.000000,28.000000
25%,75.500000,738.000000,125.500000,2.903861e+09,13.000000,382.000000
50%,461.000000,2032.000000,330.000000,3.197897e+09,30.000000,1622.000000
75%,1289.500000,7193.500000,692.500000,7.204821e+17,82.000000,4883.000000
max,16701.000000,294320.000000,4896.000000,9.579742e+17,2275.000000,27323.000000

In [117]:
tw_occupy.describe()

,favourites_count,followers_count,friends_count,id,listed_count,statuses_count
count,183.000000,183.000000,183.000000,1.830000e+02,183.000000,183.000000
mean,2011.366120,12260.387978,1507.524590,5.154746e+15,374.426230,17124.819672
std,6063.459176,32401.501589,1994.920624,6.973210e+16,814.755349,26518.092863
min,0.000000,19.000000,3.000000,2.000705e+07,0.000000,134.000000
25%,13.500000,1181.000000,310.500000,3.800272e+08,52.000000,2309.500000
50%,95.000000,3815.000000,791.000000,3.864245e+08,119.000000,6795.000000
75%,1048.500000,9779.000000,1871.000000,4.248291e+08,402.000000,18586.000000
max,51796.000000,210537.000000,10403.000000,9.433184e+17,5449.000000,154015.000000

In [5]:
yt_occupy = load_file('../data/youtube/occupy.ndjson', '../data/youtube/occupy.map.csv')

yt_occupy.created_at = pd.to_datetime(yt_occupy['snippet']['publishedAt'], format='%Y-%m-%dT%H:%M:%S.000Z')

KeyError: 'publishedAt'